@model IEnumerable<iPhoneStoreWebAppMVC.Models.Product>

<div class="container mt-3">
    <h1>Каталог iPhone Store</h1>
    <div class="row">
        @foreach (var product in Model)
        {
        <div class="col-md-4 mb-4 d-flex">
            <div class="card h-100">
                <img class="card-img-top" src="images/@product.ProductImage" alt="@product.ProductName" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text">@product.ProductPrice руб.</p>
                    <div class="mt-auto">
                        <a href="#" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
